<html>
    <body>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Name: <input name="name"><br>
            Borough: <input name="borough"><br>
            Cuisine: <input name="cuisine"><br>
            Street: <input name="street"><br>
            Building: <input name="building"><br>
            Zipcode: <input name="zipcode"><br>
            GPS Lat: <input name="lat"><br>
            GPS Lon: <input name="lon" ><br>
            <input type="file" name="filetoupload"><br>
            <input type="submit" value="create">  
        </form>
    </body>
</html>